@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply text-gray-900;
  }

  ::selection {
    @apply bg-whiskey-200 text-whiskey-900;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-whiskey-400 ring-offset-2 ring-offset-white;
  }
}
